body {
	background: #0d80d8;
	color: white;
	font-family: 'Lato';
	font-weight: 400;
	padding:0;
	margin: 0;
	height:100%;
}

#instances {
	background-color: rgba(0,0,0,0.15);
	border-radius: 1em;
}

#instances-content {
	padding: 1em 0.5em;
}

.tab-note {
	margin-left: 1em;
	font-size: 1.1em;
	margin-top: 1.5em;
}

#instances,
.start-your-own-instance,
.add-instance-to-list {
	box-shadow: 0 0.3em 1em rgba(0,0,0,0.5);
}

@media only screen and (max-width: 599px) {
	.site-footer .links-footer-right {
		float: none;
	}
	.big-container .site-footer {
		height: 10rem;
	}
	.big-container .site-content-wrap {
		padding-bottom: 10rem;
	}
	.last-updated {
		margin-top: 0;
	}
}

a {
	color: white;
	text-decoration: none;
	box-shadow: 0 1px white;
}

a:hover {
	box-shadow: 0 3px white;
}

h1 {
	text-align: center;
	font-family: 'Montserrat';
	font-size: 3em;
	text-transform: lowercase;
}

.site-header .description {
	font-size: 1.75em;
}

p, h3, ul li, .site-footer .links-footer-right {
	font-size: 1.45em;
}

.tab-info, .tab-title {
	margin: 0;
}

.tab-info .tab-software::before {
	content: " · ";
}

.last-updated {
	float: left;
}

.links-footer-right {
	float: right;
}

.links-footer-right {
	margin: 1em 0;
}

.start-your-own-instance, .add-instance-to-list {
	background-color: rgba(0,0,0,0.15);
	border-radius: 1em;
}

.start-your-own-instance .tab-body,
.add-instance-to-list .tab-body {
	padding: 0 1.5em;
}

.start-your-own-instance h3,
.add-instance-to-list h3 {
	padding: 0 1em;
}

.start-your-own-instance h3,
.add-instance-to-list h3 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.docs-list {
	padding-bottom: 1.5em;
}

.add-instance-to-list p {
	padding-bottom: 1em;
}

.search-container {
	padding: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box
	border-radius: 10px;
}

#search {
	font-size: 1.5em;
	width: calc(100% - 1.2em);
	padding: 0.4em;
	background-color: #0a6db8;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 0.5em;
	color: white;
}

#search::placeholder {
	color: rgba(0,0,0,0.8);
}

#search:focus {
	border-width: 2px;
}

.tab-header {
	background-color: rgba(0,0,0,0.15);
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.tab-item {
	padding: 0.5em;
	border-bottom: 3px solid rgba(255,255,255,0.5);
}

.tab-item a {
	word-wrap: break-word;
}

.tab-item .icon {
	margin-right: 0.4em;
	max-width: 1em;
	max-height: 1em;
	vertical-align: middle;
}

.site-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5rem;
	background-color: white;
	color: #2791f4;
}

.site-content-wrap {
	padding-bottom: 5rem;
}

.site-content-wrap, .site-header, .site-footer-container {
	margin: 0 2.5em;
}

.big-container {
	min-height: 100%;
	position: relative;
}

.site-footer a {
	color: #2791f4;
	box-shadow: 0 1px #2791f4;
}

.loading {
	text-align: center;
	padding: 2em 0;
}

.site-footer a:hover {
	box-shadow: 0 3px #2791f4;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url('/fonts/Lato-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/fonts/Montserrat-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
